{{define "header"}}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">

       <!-- Latest compiled and minified JavaScript -->
    <script src="/public/js/bootstrap.js"></script>
    <title>Cursinho Solidario 29 de Abril</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{end}}

