{{template "header"}}
{{template "nav"}}



<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default">Buscar</button>
            <table class="table table-hover">

            </table>
        </div>
        </div>
    </div>
</div>



{{template "footer"}}